[submodule "site/modules/RockModuleCreator"]
	path = site/modules/RockModuleCreator
	url = git@github.com:BernhardBaumrock/RockModuleCreator.git
[submodule "site/modules/FieldtypeRockMarkup"]
	path = site/modules/FieldtypeRockMarkup
	url = git@github.com:BernhardBaumrock/FieldtypeRockMarkup.git
[submodule "site/modules/RockFinder"]
	path = site/modules/RockFinder
	url = git@github.com:BernhardBaumrock/RockFinder.git
[submodule "site/modules/RockMarkup"]
	path = site/modules/RockMarkup
	url = git@github.com:BernhardBaumrock/RockMarkup.git
[submodule "site/modules/RockTabulator"]
	path = site/modules/RockTabulator
	url = git@github.com:BernhardBaumrock/RockTabulator.git
[submodule "site/modules/RockFinder2"]
	path = site/modules/RockFinder2
	url = git@github.com:BernhardBaumrock/RockFinder2.git
